.tooltip{
  background-color: black;
  color: white;
  padding: 3px;
  border: 0;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 120px;
}
