<app-header></app-header>
<div *ngIf="data">    
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                    <th>Carrera</th>
                    <th>Código único</th>
                    <th>Institución</th>
                    <th># Estudiantes</th>
                </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.nomb_carrera}} </td>
                <td><i>{{item.codigo_unico}}</i></td>
                <td>{{item.nomb_inst}}</td>
                <td>{{item.count}}</td>
            </tr>
        </tbody>
    </table>
    
</div>
